body{
	font-family: var(--main-font);
    max-width: 1920px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
}

.main-title-container-out{
	display: flex;
	align-items: end;
	justify-content: left;
	overflow: hidden;
	height: 100vh;
}

.main-title-img::-webkit-scrollbar{
	display: none;
}

.main-title-container{
	font-size: 17vw;
	line-height: 0.85em;
	font-weight: 700;
}

.aerodinamica-title{
	background: url(../aerodinamica/img/tramonto-pazzo.webp);
	background-size: cover;
	background-position: bottom;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.b2-title {
	background: url(../aerodinamica/img/blu-camouflage.jpg);
	background-size: cover;
	background-position: bottom;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.main-title-img.a350 {
	position: absolute;
	width: 55vw;
	top: 0vh;
	left: 30vw;
	z-index: 10;
}
.main-title-img.b2 {
	position: absolute;
	width: 40vw;
	bottom: 5vh;
	right: 0vw;
	z-index: 10;
}

.padding{
	padding: 0 22px;
    padding-left: max(22px,env(safe-area-inset-left));
    padding-right: max(22px,env(safe-area-inset-right));
}

.plane {
	color: #fff;
	font-size: 1em;
	font-family: Arial;
	text-shadow: 0 0 1px #000;
	z-index: 0;
}

*:not(.plane) {
	z-index: 1;
}

@-webkit-keyframes planes-fall {
	100% {
		visibility: visible;
		top: 0
	}

	0% {
		visibility: visible;
		top: 100%
	}
}

@keyframes planes-fall {
	100% {
		visibility: visible;
		top: 0
	}

	0% {
		visibility: visible;
		top: 100%
	}
}

.plane {
	visibility: hidden;
	color: black;
	position: absolute;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	-webkit-animation-name: planes-fall;
	-webkit-animation-duration: 10s, 3s;
	-webkit-animation-timing-function: linear, ease-in-out;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-play-state: running, running;
	animation-name: planes-fall;
	animation-duration: 10s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state: running, running
}

.plane:nth-of-type(0) {
	left: 1%;
	-webkit-animation-delay: 0s, 0s;
	animation-delay: 0s, 0s
}

.plane:nth-of-type(1) {
	left: 10%;
	-webkit-animation-delay: 1s, 1s;
	animation-delay: 1s, 1s
}

.plane:nth-of-type(2) {
	left: 20%;
	-webkit-animation-delay: 6s, .5s;
	animation-delay: 6s, .5s
}

.plane:nth-of-type(3) {
	left: 30%;
	-webkit-animation-delay: 4s, 2s;
	animation-delay: 4s, 2s
}

.plane:nth-of-type(4) {
	left: 40%;
	-webkit-animation-delay: 2s, 2s;
	animation-delay: 2s, 2s
}

.plane:nth-of-type(5) {
	left: 50%;
	-webkit-animation-delay: 8s, 3s;
	animation-delay: 8s, 3s
}

.plane:nth-of-type(6) {
	left: 60%;
	-webkit-animation-delay: 6s, 2s;
	animation-delay: 6s, 2s
}

.plane:nth-of-type(7) {
	left: 70%;
	-webkit-animation-delay: 2.5s, 1s;
	animation-delay: 2.5s, 1s
}

.plane:nth-of-type(8) {
	left: 80%;
	-webkit-animation-delay: 1s, 0s;
	animation-delay: 1s, 0s
}

.plane:nth-of-type(9) {
	left: 90%;
	-webkit-animation-delay: 3s, 1.5s;
	animation-delay: 3s, 1.5s
}